<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-vizbee-sender-sdk"
        version="1.0.0">

  <name>Cordova VizbeeKit</name>

  <js-module src="www/VizbeeSenderSDKPlugin.js" name="vizbee">
    <clobbers target="VizbeeSenderSDKPlugin" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Vizbee">
        <param name="ios-package" value="VizbeeBootstrap"/>
      </feature>
    </config-file>

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
        <source url="https://git.vizbee.tv/Vizbee/Specs.git"/>
        <source url="https://github.com/CocoaPods/Specs.git"/>
      </config>
      <pods use-frameworks="false">
        <pod name="VizbeeKit" spec="6.1.7" />
        <pod name="google-cast-sdk-no-bluetooth-dynamic" spec="4.5.0" />
      </pods>
    </podspec>

    <header-file src="src/ios/VizbeeBootstrap.h" />
    <source-file src="src/ios/VizbeeBootstrap.m" />
    <header-file src="src/ios/VizbeeAppAdapter.h" />
    <source-file src="src/ios/VizbeeAppAdapter.m" />
    <header-file src="src/ios/VizbeeVideo.h" />
    <source-file src="src/ios/VizbeeVideo.m" />
  </platform>
</plugin>
